//eventos.html
<!DOCTYPE html>
<html>
<head>
    <title>Eventos</title>
</head>
<body>
    <h1>Lista de Eventos</h1>
    <ul>
        <li th:each="evento : ${eventos}">
            <span th:text="${evento.titulo}"></span>
            <form th:action="@{'/participante/inscricoes/eventos/' + ${evento.id}}" method="post">
                <input type="hidden" name="participanteId" value="1" />
                <button type="submit">Inscrever-se</button>
            </form>
        </li>
    </ul>
</body>
</html>
